anyio==4.9.0
backports.tarfile==1.2.0
blinker==1.9.0
build==1.2.2.post1
CacheControl==0.14.2
certifi==2025.1.31
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.1
crashtest==0.4.1
cycler==0.12.1
dash==3.0.0
dash-bootstrap-components==2.0.0
descartes==1.1.0
desdeo-emo==1.5.0
desdeo-mcdm==1.3.3
desdeo-problem==1.5.0
desdeo-tools==1.8.0
distlib==0.3.9
diversipy==0.8
dulwich==0.22.8
exceptiongroup==1.2.2
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
Flask==3.0.3
fonttools==4.56.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
hvwfg==1.0.2
idna==3.10
importlib_metadata==8.6.1
installer==0.7.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.6
joblib==1.4.2
keyring==25.6.0
kiwisolver==1.4.8
llvmlite==0.39.1
MarkupSafe==3.0.2
matplotlib==3.10.1
more-itertools==10.6.0
msgpack==1.1.0
nest-asyncio==1.6.0
numba==0.56.4
numpy==1.23.5
optproblems==1.3
packaging==24.2
pandas==1.5.3
pbs-installer==2025.3.17
pillow==11.1.0
pkginfo==1.12.1.2
platformdirs==4.3.7
plotly==5.24.1
poetry==2.1.1
poetry-core==2.1.1
pyDOE==0.3.8
pyparsing==3.2.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32-ctypes==0.2.3
RapidFuzz==3.12.2
requests==2.32.3
requests-toolbelt==1.0.0
retrying==1.3.4
scikit-learn==1.6.1
scipy==1.15.2
shap==0.47.0
Shapely==1.8.5.post1
shellingham==1.5.4
six==1.17.0
slicer==0.0.8
sniffio==1.3.1
stringcase==1.2.0
tenacity==9.0.0
threadpoolctl==3.6.0
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2025.3.19.19
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.29.3
Werkzeug==3.0.6
zipp==3.21.0
zstandard==0.23.0
